<!-- ==============================================
MAIN NAV
=============================================== -->
<div id="main-nav" class="navbar navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
      </button>

      <!-- ======= LOGO (for small screens)========-->
      <a class="navbar-brand visible-xs scrollto" href="#home">MS</a>

    </div>

    <div id="site-nav" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="#services" class="scrollto">What I Do</a>
        </li>
        <li>
          <a href="#skills" class="scrollto">Skills</a>
        </li>
        <li id="logo">
          <a href="#home" class="scrollto">
            <h1>M<span>S</span></h1>
          </a>
        </li>
        <li>
          <a href="#about" class="scrollto">About Me</a>
        </li>
        <li>
          <a href="#contact" class="scrollto">Contact</a>
        </li>
      </ul>
    </div><!--End navbar-collapse -->

  </div><!--End container -->

</div><!--End main-nav -->

<!-- ==============================================
HEADER
=============================================== -->
<header id="home" class="jumbotron">

  <div class="container">

    <div class="row">

      <div class="col-sm-6 text-col">

        <h1>Hi, I am Micah</h1>
        <p>a full stack Web Developer </p>

      </div>

      <div class="col-sm-6">
        <div class="imac-frame">
          <img class="img-responsive img-center" src="assets/imac.png" alt=""/>
          <div class="imac-screen flexslider">
            <ul class="slides">
              <li>
                <img src="assets/img-top-coding.jpg" alt=""/>
              </li>
              <li>
                <img src="assets/img-top-sublime.png" alt=""/>
              </li>
              <li>
                <img src="assets/img-top-webdev.png" alt=""/>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>

  </div>

</header><!--End header -->

<!-- ==============================================
SERVICES
=============================================== -->
<section id="services" class="white-bg padding-top-bottom">

  <div class="container">

    <header class="section-header text-center">

      <h1 class="scrollimation scale-in">What I Do</h1>
      <p>I like to build web apps that solve a problem.</p>

    </header>

    <div class="row services">

      <div class="col-md-3 col-sm-6 item scrollimation fade-up">

        <div class="icon">
          <img class="img-responsive img-center" src="assets/service1-imac.png" alt="" />
        </div>

        <h2>Web Design</h2>
        <p>A full Front End knowledge using HTML, CSS, and JavaScript to design steller web applications with attention to user experience</p>

      </div>

      <div class="col-md-3 col-sm-6 item scrollimation fade-up d1">

        <div class="icon">
          <img class="img-responsive img-center" src="assets/service2-development.png" alt="" />
        </div>

        <h2>Web Development</h2>
        <p>Utilizing Ruby on Rails and SQLite/PostgreSQL to program the interactions with the pages and tap into the database</p>

      </div>

      <div class="col-md-3 col-sm-6 item scrollimation fade-up d2">

        <div class="icon">
          <img class="img-responsive img-center img-size" src="assets/service3-responsive.png" alt="" />
        </div>

        <h2>Responsive</h2>
        <p>Experience writing custom media queries and working with a mobile first grid layout</p>

      </div>

      <div class="col-md-3 col-sm-6 item scrollimation fade-up d3">

        <div class="icon">
          <img class="img-responsive img-center img-size" src="assets/service4-learn.png" alt="" />
        </div>

        <h2>Learn</h2>
        <p>Angular, Node, PHP, Woodworking, Home Remodeling. Life is too short to not be constantly absorbing all the things.</p>

      </div>

    </div>

  </div>

</section>

<!-- ==============================================
SKILLS
=============================================== -->
<section id="skills" class="gray-bg padding-top-bottom">

  <div class="container">

    <div class="row skills">

      <h1 class="text-center scrollimation fade-in">I Got the Skills</h1>

      <div class="col-sm-6 col-md-3 text-center">
        <span class="chart" data-percent="80"><span class="percent">80</span></span>
        <h2 class="text-center">HTML / CSS</h2>
      </div>
      <div class="col-sm-6 col-md-3 text-center">
        <span class="chart" data-percent="70"><span class="percent">70</span></span>
        <h2 class="text-center">JavaScript</h2>
      </div>
      <div class="col-sm-6 col-md-3 text-center">
        <span class="chart" data-percent="60"><span class="percent">60</span></span>
        <h2 class="text-center">SQLite / PostgreSQL</h2>
      </div>
      <div class="col-sm-6 col-md-3 text-center">
        <span class="chart" data-percent="90"><span class="percent">90</span></span>
        <h2 class="text-center">Ruby on Rails</h2>
      </div>

    </div><!--End row -->

  </div>

</section>

<!-- ==============================================
FEATURED PROJECT
=============================================== -->
<section id="feat-project" class="white-bg padding-top-bottom">

  <div class="container">

    <header class="section-header text-center">

      <h1 class="scrollimation scale-in">Featured Project</h1>
      <h3>We Dare You</h3>
      <p>A place for crowdfunding dares, challenges, or charitably acts.

    </header>

    <div class="scrollimation fade-up">
      <div class="img-wrapper">

        <img class="img-responsive img-center img-featured" src="assets/dare-macbook.png" alt="" />

        <p class="text-center on-hover">
          <a class="btn btn-meflat icon-right" href="http://we-dare-you.herokuapp.com">See it live!<i class="fa fa-arrow-right"></i></a><br>
          <%= link_to 'Summary Sheet', portfolio_download_summary_url, class: "btn btn-meflat" %>
        </p>

      </div>
    </div>

  </div>

</section>

<!-- ==============================================
ABOUT
=============================================== -->
<section id="about" class="gray-bg padding-top-bottom">

  <div class="container">

    <header class="section-header text-center">

      <h1 class="scrollimation scale-in">About Me</h1>

    </header>

    <div class="row">

      <div class="col-sm-8 col-sm-offset-2">

        <img class="img-responsive img-center img-big-size scrollimation fade-left" src="assets/me.png" alt="" />

        <p class="text-center scrollimation fade-in">I was nerdy before the hipsters made it ironic.  A lifelong tech junkie and early adopter. I also love building things with my hands, anything outdoors, and bean bag toss.</p>

      </div>

    </div>

    <p class="text-center">
      <button class="btn btn-meflat">
        <%= link_to 'Resume', portfolio_download_resume_url %>
      </button>
    </p>

  </div>

</section>

<!-- ==============================================
CONTACT
=============================================== -->
<section id="contact" class="padding-top">

  <div class="container">

    <header class="section-header text-center">

      <h1 class="scrollimation scale-in">Contact Me</h1>
      <p>I would love to chat with you about new challenging opportunities.</p>

      <div class="row col-centered">

        <div class="col-sm-6 col-centered">

          <ul class="social-links text-center">

            <li class="scrollimation fade-right d4"><a href="https://twitter.com/Micahcodes"><i class="fa fa-twitter fa-fw"></i></a></li>

            <li class="scrollimation fade-right d2"><a href="https://github.com/Micahcodes"><i class="fa fa-github fa-fw fa-lg"></i></a></li>

            <li class="scrollimation fade-right d1"><a href="mailto:micahcodes@gmail.com"><i class="fa fa-envelope fa-fw"></i></a></li>

            <li class="scrollimation fade-right"><a href="https://www.linkedin.com/profile/view?id=82808799"><i class="fa fa-linkedin fa-fw"></i></a></li>

          </ul>
        </div>
      </div>
    </header>
  </div>
</section>
